#############################################
# readoutcard configuration file
#
# commments start with #
# section names are in brackets []
# settings are defined with key=value pairs
#############################################

#############################################
# global cru settings
#############################################

[cru]
# [true | false]
allowrejection=false

# [ttc | local]
clock=ttc

# 12-bit CRU ID [0xdac]
cruid=0x42

# [packet | continuous]
datapathmode=continuous

# [true | false]
loopback=false

# [GBT | WB]
gbtmode=WB

# [CTP | PATTERN | MIDTRG]
downstreamdata=MIDTRG

# [true | false]
ponupstream=false

# [0x0badcafe]
onuaddress=0x0badcafe

# [true | false]
dynamicoffset=false

#############################################
# links
#############################################
# Configuration to be applied to all links
# Unless stated otherwise in the next section

[links]
# [true | false]
enabled=true

# [TTC | DDG | SWT]
gbtmux=TTC

#############################################
# link*
#############################################
# Configuration for specified link
# Will overwrite any configuration stated in
# the previous section

#[link0]
#enabled=true
#gbtmux=ddg

[link1]
enabled=true
gbtmux=ttc

[link2]
enabled=true
gbtmux=SWT

[link3]
enabled=false
gbtmux=TTC

[link4]
enabled=false
gbtmux=ddg

[link21]
enabled=true
gbtmux=swt
